.container-users {
  color: #efefef;
  font-family: "Sahitya", serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3rem auto;
}
.container-user {
  border: 2px solid #919191;
  box-shadow: 0 0 10px #444444;
  background-color: #333232;
  display: grid;
  grid-template: 1fr 2fr;
  margin: 3rem;
  min-height: 20rem;
  position: relative;
  &__img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-25%, -25%);
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 98%;
      height: 98%;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 10px black;
    }
  }
  &__info {
    color: white;
    padding-left: 20px;
    position: relative;
  }
}
